.eye-wrapper[b-037z7ebhd8] {
  display: grid;
  place-content: center;
  background-color: rgba(110, 110, 110, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.eye-container[b-037z7ebhd8] {
  position: relative;
  display: flex;
  gap: 1em;
  justify-content: center;
}
.eye[b-037z7ebhd8] {
  position: relative;
  width: 50px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}
.pupil[b-037z7ebhd8] {
  position: absolute;
  top: 45%;
  right: 80%;
  width: 20%;
  height: 10%;
  background-color: black;
  border-radius: 50%;
  animation-name: eyes-move-b-037z7ebhd8;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes eyes-move-b-037z7ebhd8 {
  0% {
    right: 80%;
  }
  20% {
    right: 80%;
  }
  80% {
    right: 0%;
  }
  100% {
    right: 0%;
  }
}
