.rec-item-display[b-ntmyr6z7uj] {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: stretch;
  position: relative;
  border: solid 1px rgba(100, 100, 100, 0.2);
  padding: 1em;
}

.rec-item-display-right[b-ntmyr6z7uj] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
}
.receipt-image[b-ntmyr6z7uj] {
  height: 10em;
}
.item-name[b-ntmyr6z7uj] {
  text-decoration: underline wavy 1px blue;
}
@media screen and (max-width: 300px) {
  .rec-item-display[b-ntmyr6z7uj] {
    flex-direction: column;
  }
}
