
<div class="eye-wrapper">
   <div class="eye-container">
      <div class="eye left-eye">
        <div class="pupil left-pupil">
        </div>
      </div>
      <div class="eye right-eye">
        <div class="pupil right-pupil">
         </div>
      </div>
   </div>
      <h1>Searching . . .</h1>
</div>