.cart-page-container {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: auto 25%;
  grid-template-areas: "cart-items cart-costs";
  overflow: auto;
  height: 100%;
  position: relative;
}
.cart-item-display {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 1em;
  grid-area: cart-items;
  margin-bottom: 0;
  padding-bottom: 1em;
}
.cart-cost-display-wrapper {
  grid-area: cart-costs;
  overflow: auto;
  margin: 0;
  padding: 1em;
  border-left: solid rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
}
@media screen and (max-width: 700px) {
  .cart-page-container {
    grid-template-columns: auto 40%;
  }
}
@media screen and (max-width: 550px) {
  .cart-page-container {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "cart-costs"
      "cart-items";
  }
  .cart-cost-display-wrapper {
    border-left: none;
    border-bottom: solid rgba(0, 0, 0, 0.3);
    overflow: unset;
    position: relative;
  }
  dd {
    margin-bottom: 0.1em;
  }
}
