.receipt-wrapper {
  height: 100%;
  overflow: auto;
  padding: 1em;
}
.receipt-info-list {
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  column-gap: 1em;
}
.receipt-item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 930px;
}
@media screen and (max-width: 300px) {
  .receipt-info-list {
    grid-template-columns: auto;
  }
}
